$primary-color: rgb(255, 0, 94);
$secondary-color: rgb(255, 255, 0);
$text-color: rgb(255,255,255);
$text-color-transparent: rgba(255, 255, 255, 0.702);
$text-color-dark:  rgb(7, 0, 17);
$background-color-navy: rgb(21, 0, 34);
$background-color-dark: rgb(7, 0, 17);
$background-color-dark-transparent : rgba(0,0,0,0.502);

body {
  background-color: $background-color-navy;
}



.link {
  font-size: 16px;
  font-family: "Lato-Bold", sans-serif;
  color: $primary-color;
}

p {
  font-size: 14px;
  font-family: "Lato-Regular", sans-serif;
  color: $text-color;
  line-height: 1.2;
}

a {
  @extend p;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus{
  text-decoration: none;
  outline: none;
}

caption,
.caption {
  font-size: 12px;
  font-family: "Lato-Regular", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.333;
}

.title {
  font-size: 50px;
  font-family: "Lato-Light", sans-serif;
  color: $text-color;
  line-height: 1.2;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.text-right {
  text-align: right;
}

.sliderContainer {
  //background-color: $background-color;
  background: $background-color-navy url("../img/SliderContainerBackground.jpg") top/cover no-repeat ;
}

.upNavBar{
  display: inline-block;
  background-color: $background-color-dark;
  height: 20px;
  padding: 0 12px 0 12px;


  span{
    color: $secondary-color;
    text-align: right;
    padding: 0 6px 0 6px;
    font-size: 14px;
  }

  a {
    color: $text-color-transparent;

    &:focus{
      color: $text-color;
    }

    &:hover {
      color: $secondary-color;
    }
    
    &.active {
      color: $text-color;
    }
  }
}

.memberArea {
  display: inline-block;
  margin-left: -4px;

  a {
    font-family: Lato-Bold;
    font-size: 13px;
    color: $text-color-dark;
    padding: 4px 10px 1px;
  }
}

.signUpButton {
  background-color: $primary-color;
}

.loginButton {
  background-color: $secondary-color;
}

.signUpButton:hover,
.loginButton:hover {
  padding-bottom: 6px;
}


.cityButton,
.langButton {
  font-family: "Lato-Bold", sans-serif;
  color: $text-color-transparent;
  font-size: 13px;
}

.cityButton {
  margin-right: 4px;
}

.cityButton>span {
   font-size: 11px;
   padding: 2px;
 }

.cityButton>span:last-child,
.langButton>span:last-child {
  color: $primary-color;
  font-size: 10px;
}

.mainMenu {
  list-style: none;
  margin-top: 32px;

  li {
    display: inline-block;
    padding: 0 7% 0 7%;

    a {
      font-family: Lato-Bold;
      color: $text-color-transparent;
      font-size: 15px;
      &:hover {
        color: $secondary-color;
      }
      &.active {
        color: $text-color;
      }
    }
  }
}

.submitEvent {
  display: inline-block;
  margin-top: 28px;
  color: $primary-color;
  border: 1px solid $primary-color;
  padding: 8px 20px 8px 20px;
  font-family: Lato-Bold;
  background: transparent;
  outline: none;

  span {
    font-size: 10px;
    top: 0;
  }

  &:hover {
    color: $text-color;
    background-color: $primary-color;
  }
}


.mainSlider {
  margin: 40px 0 30px 0;
}

.searchContainer{
  max-width: 630px;
  margin: 0 auto 32px;
  padding: 0;

  div {
    padding: 0;
  }

  .searchBar {
    span {
      position: absolute;
      color: $text-color-transparent;
      font-size: 16px;
      top:10px;
      left:10px;
    }
    input[type="text"] {
      background: none;
      border: none;
      outline: none;
      border-bottom: 2px solid white;
      width: 100%;
      padding: 10px 20px 10px 40px;
      font-family: "Lato-Bold", sans-serif;
      font-size: 16px;
      line-height: 1.2em;
      color: $text-color-transparent;
      &:focus {
        border-color: $primary-color;
        color: $secondary-color;
      }
    }
    &:hover {
      span,
      input {
        color: $secondary-color;
        border-color: $secondary-color;
      }
    }
    &:focus {
      input {
        border-color: $secondary-color;
        color: $secondary-color;
      }
      span {color: $secondary-color}
    }
  }
  button {
    border: 1px solid $primary-color;
    outline: none;
    background-color: $primary-color;
    padding: 10px 44px 11px;
    margin-left: 16px;
    font-family: "Lato-Bold", sans-serif;
    font-weight: 600;
    color: $text-color;

    &:hover {
      color: $primary-color;
      background-color: transparent;
    }
  }

}