$primary-color: rgb(255, 0, 94);
$secondary-color: rgb(255, 255, 0);
$text-color: rgb(255,255,255);
$text-color-transparent: rgba(255, 255, 255, 0.6);
$text-color-dark:  rgb(7, 0, 17);
$background-color-navy: rgb(21, 0, 34);
$background-color-navy-transparent: rgba(21, 0, 34, 0.60);
$background-color-dark: rgb(7, 0, 17);
$background-color-dark-transparent : rgba(0,0,0,0.502);

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  opacity: 0.77;
}

html {
  height: 100%;
}

body {
  background-color: $background-color-navy;
  background-image: url(../img/FlareTopLeft.png), url(../img/FlareRight.png) ;
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top right;
  background-size: auto, auto;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: $text-color;
}

.index {
  background-image: url(../img/FlareTopLeft.png), url(../img/FlareRight.png), url(../img/SliderContainerBackground.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top left, top right, top center;
  background-size: auto, auto, contain;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: $text-color;
  text-transform: uppercase;
  line-height: 1.2;
}
h2 {
  @extend h1;
  font-size: 24px;
  text-transform: none;
}
h3 {
  @extend h1;
  font-size: 16px;
  text-transform: none;

}
h4 {
  @extend h1;
  font-size: 14px;
  text-transform: none;

}

.link {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: $primary-color;

  &:hover {
    color: $secondary-color;
  }
}

p {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: $text-color;
  line-height: 1.2;
}

a {
  @extend p;
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus{
  color: $secondary-color;
  text-decoration: none;
  outline: none;
}

button {
  border: 1px solid $primary-color;
  outline: none;
  background-color: $primary-color;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: $text-color;
  font-size: 12px;
  padding: 10px 30px;

  &:hover {
    color: $primary-color;
    background-color: transparent;
  }
}

caption,
.caption {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.333;
}

.title {
  text-transform: none;
  font-size: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: $text-color;
  line-height: 1.2;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.headContainer {
  margin-bottom: 40px;
}

.sliderContainer {
  //background-color: $background-color;
  //background: $background-color-navy url("../img/SliderContainerBackground.jpg") top/cover no-repeat ;
}

.upNavBar{
  display: inline-block;
  background-color: $background-color-dark;
  height: 20px;
  padding: 0 12px 0 12px;


  span{
    color: $secondary-color;
    text-align: right;
    padding: 0 6px 0 6px;
    font-size: 14px;
  }

  a {
    color: $text-color-transparent;

    &:focus{
      color: $text-color;
    }

    &:hover {
      color: $secondary-color;
    }
    
    &.active {
      color: $text-color;
    }
  }
}

.memberArea {
  display: inline-block;
  margin-left: -4px;

  a {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: $text-color-dark;
    padding: 4px 10px 1px;
  }
}

.signUpButton {
  background-color: $primary-color;
}

.loginButton {
  background-color: $secondary-color;
}

.signUpButton:hover,
.loginButton:hover {
  padding-bottom: 6px;
}


.cityButton,
.langButton {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: $text-color-transparent;
  font-size: 13px;
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
}



.cityButton:hover span,
.langButton:hover span {

}

.cityButton {
  margin-right: 4px;
}


.cityButton .glyphicon-chevron-down,
.langButton .glyphicon-chevron-down {
  color: $primary-color;
  font-size: 10px;
}


.dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  background: white;
  z-index: 10;
  border-radius: 2px;

  ul {
    text-align: left;
    list-style: none;
    padding: 0 16px 0 16px;
    li {
      font-weight: 700;
      margin-top: 6px;
      color: $primary-color;

      a {
        color: $text-color-dark;
        font-weight: 700;

        &:hover,
        &.active {
          color: $primary-color;
        }
      }
    }
  }

  &:before {
    content: " ";
    position: absolute;
    top: -14px;
    left: calc(50% - 15px);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    border-bottom: 15px solid white;
  }
}

.cityButton:hover .dropdown {
  display: block;
}

.langButton:hover .dropdown {
  display: block;
}


.mainMenu {
  list-style: none;
  margin-top: 32px;

  li {
    display: inline-block;
    padding: 0 7% 0 7%;

    a {
      font-family:"Lato", sans-serif;
      font-weight: 700;
      color: $text-color-transparent;
      font-size: 15px;
      &:hover {
        color: $secondary-color;
      }
      &.active {
        color: $text-color;
      }
    }
  }
}

.footerMenu {
  @extend .mainMenu;
}

.submitEvent {
  display: inline-block;
  margin-top: 28px;
  color: $primary-color;
  border: 1px solid $primary-color;
  padding: 8px 20px 8px 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  background: transparent;
  outline: none;

  span {
    font-size: 10px;
    top: 0;
  }

  &:hover {
    color: $text-color;
    background-color: $primary-color;
  }
}


.mainSlider {
  margin: 0 0 30px 0;
}

.searchContainer{
  max-width: 630px;
  margin: 0 auto 32px;
  padding: 0;

  div {
    padding: 0;
  }

  .searchBar {
    span {
      position: absolute;
      color: $text-color-transparent;
      font-size: 16px;
      top:10px;
      left:10px;
    }
    input[type="text"] {
      background: none;
      border: none;
      outline: none;
      border-bottom: 2px solid white;
      width: 100%;
      padding: 10px 20px 10px 40px;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.2em;
      color: $text-color-transparent;
      &:focus {
        border-color: $primary-color;
        color: $secondary-color;
      }
    }
    &:hover {
      span,
      input {
        color: $secondary-color;
        border-color: $secondary-color;
      }
    }
    &:focus {
      input {
        border-color: $secondary-color;
        color: $secondary-color;
      }
      span {color: $secondary-color}
    }
  }
  button {

    padding: 10px 44px 11px;
    margin-left: 16px;

  }
}

.eventsContainerTonight {
  padding: 30px 0 30px 0;
  background-color: $background-color-dark;

  div {
    max-width: 960px;
  }
}

.eventsContainerThisWeek {
  padding: 30px 0 30px 0;
  //background-color: $background-color-dark;

  div {
    max-width: 960px;
  }
}

.headingGroup {
  margin: 0 0 30px 0;
  div {
    padding: 0;

    h1 {
      display: inline-block;
      margin: 0;
    }
    span {
      font-size: 30px;
      color: $secondary-color;
    }
    .title {
      display: inline-block;
      font-size: 30px;
      margin: 0;
    }

    a {
      line-height: 42px;
    }

    &:last-child{
      text-align: right;
    }
  }

  &:after {
    clear:both;
    content:" ";
    display: table;
  }
}

$eventHeight: 142px;
$eventTitleColor: #070011;
$eventTextColor: #0b0912;

.event50 {
  padding: 0 10px;
  margin-bottom: 20px;
  height: $eventHeight;
  overflow: hidden;

  img {
    border-left: 2px solid $secondary-color;
    display: inline-block;
    width: 48%;
    float: left;
  }

  .eventDescription {
    display: inline-block;
    float:left;
    height: $eventHeight;
    width: 52%;
    background: white;
    padding: 20px 20px 20px 24px;

    h3 {
      margin-top: 0;
      color: $eventTitleColor;
    }
    h4 {
      margin: 0;
      color: $eventTextColor;

      a:first-child {
        color: $eventTextColor;

        &:hover {
          color: $eventTextColor;
        }
      }

      a:last-child:hover {
        color: $primary-color;
        text-decoration: underline;
      }
    }
  }

  &:hover {
    h3 {
      color: $primary-color;
    }
  }

  &:after {
    clear: both;
    content:' ';
    display: table;
  }
}

.event25 {
  padding: 0 10px 0 10px;

  >a {
    display: block;
    height: $eventHeight;
    overflow: hidden;
  }

  img {
    border-left: 2px solid $secondary-color;
    width: 100%;
  }

  &:hover {
    h3 {
      color: $secondary-color;
    }
  }

  h4 {
    a:first-child {
      color: $text-color;

      &:hover {
        color: $text-color;
      }
    }
    a:last-child:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

.mapsContainer {
  padding: 0;
}

#map {
  height: 400px;
  width: 100%;
}

.appContainer {
  background: $background-color-dark url("../img/getAppBackground.jpg") top/cover no-repeat ;

  h2 {
    margin: 50px 0 40px 0;
  }

  p {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    width: 320px;
    margin: 0 auto;
  }

  h3 {
    color: $primary-color;
    margin: 0 0 40px 0;
  }

  img {
    display: inline-block;
    width:auto;
    height: 60px;
    margin: 30px 10px 30px 10px;
  }
}

.promoteContainer {
  background: $background-color-navy url("../img/SliderContainerBackground.jpg") top/cover no-repeat ;
  padding: 50px;

  h2 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 50px;
    font-weight: 700;
  }

  button {
    padding: 8px 80px 8px 80px;
  }
}

.footerContainer {
  padding: 60px 0 10px 0;
  background-color: $eventTitleColor;
}

.copyrightMenu {
  list-style: none;
  margin-top: 70px;
  padding: 0;

  li {
    display: inline-block;
    padding: 0 2% 0 2%;

    a {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      color: $text-color-transparent;
      font-size: 18px;
      &:hover {
        color: $secondary-color;
      }
      &.active {
        color: $text-color;
      }
    }
  }
}

.eventsContainer {
  padding: 20px 0 0 0;
}

#auth {
  height: 100%;
}

.authContainer {
  height: 100%;
  background: $background-color-navy url("../img/SliderContainerBackground.jpg") bottom/cover no-repeat ;
  font-weight: 700;

  a {
    font-weight: 700;
  }

  h3 {
    opacity: 0.66;
  }

  .container {
    background-color: $background-color-navy-transparent;
    width: 480px;
    margin: 100px auto;
    padding: 40px;
  }

  button {
    width:100%;
    padding: 12px 0 12px;
    margin-top: 30px;
  }

  .line {
    border-bottom: 2px solid $text-color-transparent ;
    opacity: 0.66;
    margin-top: 18px;
  }
}

.inputFields {
  margin: 20px 0 10px 0;

  span, >i {
    position: absolute;
    color: $text-color-transparent;
    font-size: 16px;
    top: 12px;
    left: 24px;
  }
  input[type="email"],
  input[type="url"],
  input[type="text"],
  input[type="date"],
  input[type="dropdown"],
  input[type="password"]{
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    width: 100%;
    padding: 10px 20px 16px 40px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2em;
    color: $text-color-transparent;
    &:focus {
      border-color: $primary-color;
      color: $secondary-color;
    }
  }
  &:hover {
    span,
    input {
      color: $secondary-color;
      border-color: $secondary-color;
    }
  }
  &:focus {
    input {
      border-color: $secondary-color;
      color: $secondary-color;
    }
    span {color: $secondary-color}
  }
}

.imagePlaceholder {
  background-color: #43334e;
  padding: 40px 0;
  * {
    display: block;
  }

  .fa-picture-o {
    font-size: 80px;
    padding-bottom: 10px;
    color: rgba(89, 89, 89, 0.77);
  }

  button {
    padding: 6px;
    margin: 0 auto;
  }

  p {
    color: $text-color-transparent;
  }
}

.facebookSignIn {
  width: 100%;
  padding: 12px 0 12px 0;
  margin: 30px 0 30px 0;
  border: none;
  color: white;
  background-color: #3b5998;

  &:hover {
    color: whitesmoke;
    background-color: #3b5998;
    border: none;
  }
  i {
    font-size: 16px;
  }
}

.eventHeaderContainerFluid {
  .title {
    margin: 40px 0 20px 0;
  }
}

.eventImageContainer {
  padding: 0;
  position: relative;
  overflow: hidden;

  .blurredBackground {
    background-size: cover;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    position: relative;
    overflow: hidden;
    z-index: -1;
    height: 355px;
  }
  img {
    position: absolute;
    top:0;
    right:0;
    left:0;
    z-index: 2;
    margin: 0 auto;
  }
}

.eventInfoContainer {
  max-width: 900px;
  padding-bottom: 40px;

  p {
    margin: 0;
    font-size: 16px;
  }

  h4 {
    font-weight: 400;
  }

  button {
    font-size: 12px;
    padding: 5px 16px 5px 16px;
    margin-bottom: 10px;
  }

  .onlineTicket {
    button {
      background-color: transparent;
      border-color: white;
      color: white;

      &:hover {
        border-color: $primary-color;
        color: $primary-color;
      }
    }
  }

  .starbeatsList {
     h2, h4, p {
       color: $primary-color;
     }
   }
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-bottom: 20px;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color: $primary-color;
}

.eventDetailsContainerFluid {
  background-color: white;
  padding: 30px 0 90px 0;
}

.eventDetailsContainer {
  max-width: 900px;

  p {
    color: $text-color-dark;
    font-weight: 400;
  }
  h4 {
    color: $text-color-dark;
    font-weight: 400;
  }
  ul {
    padding: 0;
  }
  a {
    color: $primary-color;
  }
}

.eventMusicGenre {
  li{
    display: inline-block;
  }
}

.event25Full {
  padding: 10px ;

  h2, h4, p {
    color: $text-color-dark;
  }

  h4, p {
    font-weight: 400;
  }

  >a {
    display: block;
    height: 200px;
    overflow: hidden;
  }

  a {
    color: $primary-color;
  }

  p {
    font-size: 12px;
  }

  h2>span {
    font-size: 12px;
    vertical-align: super;
  }

  img {
    width: 100%;
  }

  &:hover {
    h3 {
      color: $secondary-color;
    }
  }

  h2 {
    margin: 4px 0;
  }

  h4 {
    font-size: 12px;
    margin: 4px 0;
    a:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }

  button {
    width: 100%;
    padding: 5px 0;
    font-size: 12px;
  }

  .eventTitle {
    margin: 10px;
  }

  .eventDetails {
    border-top: 1px solid rgba(0,0,0,0.15);
    background-color:white;
  }

  .eventDescription div,
  .eventDetails div{
    padding: 0 10px;
  }

  .eventDescription {
    padding: 0 10px;
    background-color:white;
  }

  .eventDetails {
    padding: 12px 10px;
  }

  .onlineTicket,
  .starbeatsList {
    padding: 0 10px;
  }

  .starbeatsList h4:first-child,
  .starbeatsList h2 {
    color: $primary-color;
  }

  div.eventTags {
    padding: 0;
  }

  .tag {
    color: $background-color-navy;
    background-color: #e7e5e8;
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 12px;
  }
}

.titleContainer {
  background-color: black;
}

.inputFields {
  input[type="text"],
  input[type="date"],
  input[type="email"] {
    padding-left: 0;
  }
  select,
  textarea {
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    width: 100%;
    padding: 10px 20px 10px 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2em;
    color: $text-color-transparent;
  }
  textarea {
    text-align: left;
  }
}

.artistTitleContainer {
  max-height: 250px;
  overflow: hidden;
}

.artistTitleDetails span,
.artistTitleDetails h4,
.artistTitleDetails a {
  display: inline-block;
}

ol.artistTopTracks {
  padding-left: 18px;

  li {
    padding: 12px 30px;
    border-bottom: 1px solid rgba(148, 116, 130, 0.29);
  }
  &:last-child {
    border-bottom: none;
  }
}

.artistSliderContainer {
  padding: 0;
}

.artistSingleContainer {
  h3 {
    a {
      font-size: 16px;
      color: $secondary-color;

      &:hover {
        color: $primary-color;
      }
    }
  }

  ul {
    font-size: 14px;
    list-style: none;
    padding: 0;
  }
}

.alphabeticList {
  list-style: none;
  float: right;

  li {
    display: block;
  }
}

.artistList {
  list-style: none;
  padding: 0;

  li {
    a {
      color: white;
      font-size: 14px;
      font-weight: 700;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.artistListSlider {
  position: relative;
  .title {
    top: 100px;
    position: absolute;
    background-color: black;
    padding: 6px 6px 6px 60px;
  }
}

.registerArtist {
  position: fixed;
  right: 16px;
  background-color: $primary-color ;
  border-radius: 4px;
  padding: 20px 12px 10px 12px;
  background: url("../img/registerArtistBack.png");


  button {
    cursor: pointer;
    font-size: 12px;
    padding: 8px;

    &:hover {

    }
  }
}

.imageArtistGallery {
  margin:0;
  padding: 0;
  cursor: pointer;

  div {
    border: 2px dashed #43334e;
    padding: 40px 10px;
    margin: 6px;
  }

  .fa-plus {
    font-size: 30px;
    color: $primary-color;
  }
  &:hover .fa-plus {
    color: $secondary-color;
  }
}

.createEventForm button,
.createArtistForm button {
  margin-bottom: 60px;
}

