$primary-color: rgb(255, 0, 94);
$secondary-color: rgb(255, 255, 0);
$text-color: rgb(255,255,255);
$text-color-transparent: rgba(255, 255, 255, 0.702);
$text-color-dark:  rgb(7, 0, 17);
$background-color-navy: rgb(21, 0, 34);
$background-color-dark: rgb(7, 0, 17);
$background-color-dark-transparent : rgba(0,0,0,0.502);

body {
  background-color: $background-color-navy;
}



.link {
  font-size: 16px;
  font-family: "Lato-Bold", sans-serif;
  color: $primary-color;
}

p {
  font-size: 14px;
  font-family: "Lato-Regular", sans-serif;
  color: $text-color;
  line-height: 1.2;
}

a {
  @extend p;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

caption,
.caption {
  font-size: 12px;
  font-family: "Lato-Regular", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.333;
}

.title {
  font-size: 50px;
  font-family: "Lato-Light", sans-serif;
  color: $text-color;
  line-height: 1.2;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.text-right {
  text-align: right;
}

.sliderContainer {
  //background-color: $background-color;
  background: $background-color-navy url("../img/SliderContainerBackground.jpg") top/cover no-repeat ;
}

.upNavBar{
  display: inline-block;
  background-color: $background-color-dark;
  height: 20px;
  padding: 0 12px 0 12px;
}

.upNavBar>span{
  color: $secondary-color;
  text-align: right;
  padding: 0 6px 0 6px;
  font-size: 14px;
}

.upNavBar>a {
  color: $text-color-transparent;
}

.upNavBar>a:focus {
  color: $text-color;
}

.upNavBar>a:hover {
  color: $secondary-color;
}

.memberArea {
  display: inline-block;
  margin-left: -4px;

  a {
    font-family: Lato-Bold;
    font-size: 13px;
    color: $text-color-dark;
    padding: 4px 10px 1px;
  }
}

.signUpButton {
  background-color: $primary-color;
}

.loginButton {
  background-color: $secondary-color;
}

.cityButton,
.langButton {
  font-family: "Lato-Bold", sans-serif;
  color: $text-color-transparent;
  font-size: 13px;
}

.cityButton {
  margin-right: 4px;
}

.cityButton>span {
   font-size: 11px;
   padding: 2px;
 }

.cityButton>span:last-child,
.langButton>span:last-child {
  color: $primary-color;
  font-size: 10px;
}

.mainMenu {
  list-style: none;
  margin-top: 32px;

  li {
    display: inline-block;
    padding: 0 7% 0 7%;

    a {
      font-family: Lato-Bold;
      color: $text-color-transparent;
      font-size: 15px;
    }
    a:hover {
      color: $text-color;
    }
  }
}

.submitEvent {
  display: inline-block;
  margin-top: 28px;
  color: $primary-color;
  border: 1px solid $primary-color;
  padding: 8px 20px 8px 20px;
  font-family: Lato-Bold;

  span {
    font-size: 10px;
    top: 0;
  }
}

.submitEvent:hover {
  color: $secondary-color;
  border-color: $secondary-color;
}

.mainSlider {
  margin: 40px 0 30px 0;
}