#mapsSearchPanel {
  background-color: #070011;
  border: 6px solid rgba(255,255,255,0.1);
  border-radius: 8px;
  height: 246px;
  position: absolute;
  width: 180px;
  top: 32px;
  padding: 0;
  right: 100px;

  label,p {
    color: $text-color-transparent;
  }

  >label {
    margin: 6px 0 2px 20px;
  }

  p {
    font-size: 12px;
    margin: 8px 8px 8px 20px;
  }

  .criteriaList {
    list-style: none;
    padding: 0;
    >li {
      background-color: $background-color-navy;
      padding: 12px 20px;
      border-radius: 2px;
      margin-bottom: 2px;
      
      .glyphicon {
        color: $primary-color;
        float: right;
      }

      &:hover {
        .dropdown {
          display: block;
          top: 0;
          left: -250px;

          &:before {
            content: none;
          }
        }
      }

      .dropdown {
        display: none;
        position: absolute;
        top: 0;
        left: -245px;
        background: white;
        z-index: 10;
        border-radius: 2px;
        min-width: 250px;
        height: 268px;
        overflow: scroll;
        
        label {
          color: $text-color-dark;
          
          &:hover {
            color: $primary-color;
          }
        }
      }
      .selectedValue {
        color: $secondary-color;
      }
    }
  }
}

.mapsInfoWindow {
  h3, p {
    color: $text-color-dark;
  }
  a {
    color: $primary-color;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}