@media screen and (max-width: 1024px) {
  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: inherit;
  }
}

@media screen and (max-width: 480px) {
  .title{
    font-size: 32px;
  }

  h3 {
    font-size: 12px;
  }

  .imagePlaceholder .fa-picture-o {
    font-size: 60px;
  }

  body.index,
  body{
    background-image: none;
  }

  .promoteContainer button {
    padding: 10px 30px;
  }

  .event50 .eventDescription {
    padding: 6px 20px 20px 16px;
  }

  .eventsContainerTonight {
    padding-top: 0;
  }

  .headingGroup div {
    h1,span,p.title {
      font-size: 24px;
    }
  }

  .footerMenu {
    padding: 0;
    text-align: center;

    li {
      display: block;
      padding: 8px 0;
    }
  }

  .switchCity {
    text-align: center;
  }

  .logoContainer {
    padding: 0;
    margin-top: 10px;
  }

  .authContainer {
    margin: 0;
    padding: 0;

    .container-fluid {
      margin: 0;
      padding: 20px;
    }

    button {
      margin: 16px 0;
    }

    .line {
      margin-top: 6px;
    }

    h3 {
      font-size: 12px;
      margin-top: 1px;
    }

    .inputFields {
      margin-top: 12px;
    }
  }

  .formContainer {
    padding: 0;
    .container {
      padding: 0;
    }
  }

  .contactUsContainer {
    .container {
      padding: 0;
    }
  }
}