<!DOCTYPE html>
<html lang="en" ng-app="starbeats">
<head>
    <meta charset="UTF-8">
    <title>Starbeats</title>

    <link rel="stylesheet" href="./css/app.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

</head>
<body ng-controller="ContactUsController">

<div class="container-fluid headContainer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="upNavBar hidden-xs">
                    <a>Get the app</a>
                    <span>/</span>
                    <a>How it works</a>
                    <span>/</span>
                    <a>Contact Us</a>
                </div>
                <div class="memberArea hidden-xs">
                    <a class="signUpButton">
                        SIGNUP
                    </a>
                    <a class="loginButton">
                        LOG IN
                    </a>
                </div>
                <div class="cityButton hidden-xs">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <span>BARCELONA</span>
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="#" class="active">Barcelona</a>
                            </li>
                            <li>
                                <a href="#">Madrid</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="langButton hidden-xs">
                    <span>ENG</span>
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="#" class="active">English</a>
                            </li>
                            <li>
                                <a href="#">Español</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 col-sm-3">
                <a href="#">
                    <img src="./img/Starbeats_Logo.png" alt="Starbeats.es Logo" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-6">
                <ul class="mainMenu hidden-xs">
                    <li>
                        <a class="active">
                            HOME
                        </a>
                    </li>
                    <li>
                        <a>
                            EVENTS
                        </a>
                    </li>
                    <li>
                        <a>
                            ARTISTS
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 text-right hidden-xs">
                <button class="submitEvent">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    SUBMIT EVENT
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid titleContainer">
    <div class="container text-center">
        <div class="col-xs-12">
            <h1 class="title">
                Contact Us
            </h1>
            <h3>
                Get in touch with us.
            </h3>
        </div>
    </div>
</div>

<div class="container-fluid contactUsContainer">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <form id="contactUsForm" name="contactUsForm">


                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <input type="text" name="First Name" ng-model="message.first_name" placeholder="First Name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <input type="text" name="Last Name" ng-model="message.last_name" placeholder="Last Name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <input type="email" name="Email" ng-model="message.email" placeholder="Email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <select name="User Type" ng-model="message.user_type" required>
                            <option value="" disabled selected>I'm a...</option>
                            <option value="Artist">Artist</option>
                            <option value="Producer">Producer</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <textarea placeholder="Description" ng-model="message.content" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" id="contactUsButton"  ng-click="sendMessage(message, contactUsForm)">
                            SUBMIT
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid footerContainer">
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-sm-3">
                <a href="#">
                    <img src="./img/Starbeats_Logo.png" alt="Starbeats.es Logo" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-6">
                <ul class="footerMenu">
                    <li>
                        <a class="active">
                            HOME
                        </a>
                    </li>
                    <li>
                        <a>
                            EVENTS
                        </a>
                    </li>
                    <li>
                        <a>
                            ARTISTS
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <ul class="copyrightMenu text-center">
                <li>
                    <a>
                        How It Works
                    </a>
                </li>
                <li>
                    <a>
                        Terms & Conditions
                    </a>
                </li>
                <li>
                    <a>
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a>
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="successModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div ng-show="success">
                <h1 class="title">Nice !</h1>
                <h2>
                    You Have Successfuly Submited <br>
                    Your Message
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">OK, GOT IT</span></button>

            </div>
            <div ng-show="error">
                <h1 class="title">Error !</h1>
                <h2>
                    An error occured...
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">TRY AGAIN</span></button>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="js/jquery.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/modal.js"></script>

<script>
    $( document ).ready(function() {
        var form = $("#contactUsForm");
        $('#successModal').modal({
            show: false
        });

        $( "#contactUsButton" ).click(function(){
            if(form.valid()) {
                $('#successModal').modal('show');
            }
        });
    });
</script>
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services/ContactUsService.js"></script>
<script src="js/controllers/ContactUsController.js"></script>

</body>
</html>