<!DOCTYPE html>
<html lang="en" ng-app="starbeats_artist">
<head>
    <meta charset="UTF-8">
    <title>Starbeats</title>
    <link rel="stylesheet" href="./css/app.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

</head>
<body>

<div class="container-fluid headContainer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="upNavBar hidden-xs">
                    <a>Get the app</a>
                    <span>/</span>
                    <a>How it works</a>
                    <span>/</span>
                    <a>Contact Us</a>
                </div>
                <div class="memberArea hidden-xs">
                    <a class="signUpButton">
                        SIGNUP
                    </a>
                    <a class="loginButton">
                        LOG IN
                    </a>
                </div>
                <div class="cityButton hidden-xs">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <span>BARCELONA</span>
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="#" class="active">Barcelona</a>
                            </li>
                            <li>
                                <a href="#">Madrid</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="langButton hidden-xs">
                    <span>ENG</span>
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="#" class="active">English</a>
                            </li>
                            <li>
                                <a href="#">Español</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 col-sm-3">
                <a href="#">
                    <img src="./img/Starbeats_Logo.png" alt="Starbeats.es Logo" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-6">
                <ul class="mainMenu hidden-xs">
                    <li>
                        <a class="active">
                            HOME
                        </a>
                    </li>
                    <li>
                        <a>
                            EVENTS
                        </a>
                    </li>
                    <li>
                        <a>
                            ARTISTS
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 text-right hidden-xs">
                <button class="submitEvent">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    SUBMIT EVENT
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid titleContainer">
    <div class="container text-center">
        <div class="col-xs-12">
            <h1 class="title">
                Create an Artist Prof<span style="padding-left: 0;">i</span>le
            </h1>
            <h3>
                Your artist profile on Starbeats is only few clicks ahead. Insert the details below to create your profile
            </h3>
        </div>
    </div>
</div>

<div class="container-fluid formContainer" ng-controller="CreateArtistController">
    <div class="container">
        <form id="createArtistForm" name="createArtistForm">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <div class="imagePlaceholder text-center">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                            <button ngf-select ng-model="picFile" accept="image/*">
                                UPLOAD FLYER
                            </button>
                            <div ng-show="picFile" ngf-drop ng-model="picFile" ngf-pattern="image/*"
                                 class="cropArea" style="position:absolute; top: 0; overflow: hidden; height: 100%; width: 100%;">
                                <img-crop image="picFile  | ngfDataUrl" ng-hide="cropped"
                                          result-image="croppedDataUrl" ng-init="croppedDataUrl=''"
                                          area-type="rectangle" aspect-ratio="2.695" result-image-size="940">
                                </img-crop>
                                <div ng-show="cropped">
                                    <img style="width: 100%;" ng-src="{{croppedDataUrl}}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <button ng-show="picFile" accept="image/*" ng-click="cropImage(croppedDataUrl)">
                                CROP
                            </button>
                            <button ng-click="picFile = null; cropped = null;" ng-show="picFile">
                                REMOVE
                            </button>
                        </div>
                        <p>Image should be at least 940px and 350px height</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h1>
                            GALLERY
                        </h1>
                        <p>
                            You can add up to 10 pictures to your gallery
                        </p>
                        <div ng-repeat="f in files"  class="col-xs-6 imageArtistGallery filled">
                            <div>
                                <img ngf-src="f" class="img-responsive">
                            </div>
                        </div>

                        <div ng-repeat="i in getNumber(number) track by $index" class="col-xs-6 imageArtistGallery text-center">
                            <div class="newImageButton" ngf-select="uploadFiles($files, $newFiles)" multiple ngf-max-files="6" ngf-keep="true" ng-model="files" accept="image/*" >
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <input type="text" name="Artist Name" placeholder="Artist Name" ng-model="artist.name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 inputFields selectContainer">
                        <select name="Genre" ng-model="artist.genre" required>
                            <option value="" disabled selected>Genre</option>
                            <option value="Techno">Techno</option>
                            <option value="House">House</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <textarea placeholder="About Me"></textarea>
                    </div>
                </div>
                <h1>
                    PLAYLIST
                </h1>
                <p>
                    Please insert your soundcloud or mixcloud track links
                </p>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <input type="url" name="Track" placeholder="1. Track URL">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <input type="url" name="Track" placeholder="2. Track URL">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <input type="url" name="Track" placeholder="3. Track URL">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <input type="url" name="Track" placeholder="4. Track URL">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <input type="url" name="Track" placeholder="5. Track URL">
                    </div>
                </div>
                <h1>SOCIAL MEDIA</h1>
                <p>Please insert your social profile accounts</p>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        <input type="url" name="Facebook URL" placeholder="Facebook URL">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <input type="url" name="Instagram URL" placeholder="Instagram URL">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <i class="fa fa-soundcloud" aria-hidden="true"></i>
                        <input type="url" name="Soundcloud URL" placeholder="Souncloud URL">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <i class="fa fa-spotify" aria-hidden="true"></i>
                        <input type="url" name="Spotify URL" placeholder="Spotify URL">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <i class="fa fa-headphones" aria-hidden="true"></i>
                        <input type="url" name="Beatport URL" placeholder="Beatport URL">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <input type="url" name="Discog URL" placeholder="Discog URL">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" id="createArtistButton" ng-click="createArtist(artist, createArtistForm)">
                            FINISH AND PUBLISH
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid footerContainer">
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-sm-3">
                <a href="#">
                    <img src="./img/Starbeats_Logo.png" alt="Starbeats.es Logo" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-6">
                <ul class="footerMenu">
                    <li>
                        <a class="active">
                            HOME
                        </a>
                    </li>
                    <li>
                        <a>
                            EVENTS
                        </a>
                    </li>
                    <li>
                        <a>
                            ARTISTS
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <ul class="copyrightMenu text-center">
                <li>
                    <a>
                        How It Works
                    </a>
                </li>
                <li>
                    <a>
                        Terms & Conditions
                    </a>
                </li>
                <li>
                    <a>
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a>
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="successModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <h1 class="title">Nice !</h1>
            <h2>
                You Have Successfuly Submited <br>
                Your Profile
            </h2>
            <p>
                You should get email notification once your <br>
                profile will be reviewed by admin.
            </p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">OK, GOT IT</span></button>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="js/jquery.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/modal.js"></script>
<script>
    $( document ).ready(function() {
        var form = $("#createArtistForm");
        $('#successModal').modal({
            show: false
        });

        $( "#createArtistButton" ).click(function(){
            form.validate();
            if(form.valid()) {
                $('#successModal').modal('show');
            }
        });
    });
</script>
<script src="js/angular.min.js"></script>
<script src="js/ng-file-upload.min.js"></script>
<script src="js/ng-img-crop.js"></script>
<script src="js/app.js"></script>
<script src="js/services/CreateArtistService.js"></script>
<script src="js/controllers/CreateArtistController.js"></script>

</body>
</html>