<!DOCTYPE html>
<html lang="en" ng-app="starbeats_event">
<head>
    <meta charset="UTF-8">
    <title>Starbeats</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="./css/app.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid headContainer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="upNavBar hidden-xs">
                    <a>Get the app</a>
                    <span>/</span>
                    <a>How it works</a>
                    <span>/</span>
                    <a>Contact Us</a>
                </div>
                <div class="memberArea hidden-xs">
                    <a class="signUpButton">
                        SIGNUP
                    </a>
                    <a class="loginButton">
                        LOG IN
                    </a>
                </div>
                <div class="cityButton hidden-xs">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <span>BARCELONA</span>
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="#" class="active">Barcelona</a>
                            </li>
                            <li>
                                <a href="#">Madrid</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="langButton hidden-xs">
                    <span>ENG</span>
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="#" class="active">English</a>
                            </li>
                            <li>
                                <a href="#">Español</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 col-sm-3">
                <a href="#">
                    <img src="./img/Starbeats_Logo.png" alt="Starbeats.es Logo" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-6">
                <ul class="mainMenu hidden-xs">
                    <li>
                        <a class="active">
                            HOME
                        </a>
                    </li>
                    <li>
                        <a>
                            EVENTS
                        </a>
                    </li>
                    <li>
                        <a>
                            ARTISTS
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 text-right hidden-xs">
                <button class="submitEvent">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    SUBMIT EVENT
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid titleContainer">
    <div class="container text-center">
        <div class="col-xs-12">
            <h1 class="title">
                Create Your Event
            </h1>
            <h3>
                Insert the details below or import Facebook event to create your event on Starbeats
            </h3>
        </div>
    </div>
</div>

<div class="container-fluid formContainer" ng-controller="CreateEventController">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <!--<div class="row">-->
                <!--<div class="col-xs-12">-->
                    <!--<button class="facebookSignIn">-->
                        <!--<i class="fa fa-facebook-official" aria-hidden="true"></i>-->
                        <!--IMPORT FACEBOOK EVENT-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
            <form id="createEventForm" name="createEventForm">
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <div class="imagePlaceholder text-center">
                            <div class="content">
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                <button ngf-select type="button" ng-model="picFile" accept="image/*">
                                    UPLOAD FLYER
                                </button>
                                <div ng-show="picFile" ngf-drop ng-model="picFile" ngf-pattern="image/*"
                                     class="cropArea" style="position:absolute; top: 0; overflow: hidden; height: 100%; width: 100%;">
                                    <img-crop image="picFile  | ngfDataUrl" ng-hide="cropped"
                                              result-image="croppedDataUrl" ng-init="croppedDataUrl=''"
                                              area-type="rectangle" aspect-ratio="2.695" result-image-size="940">
                                    </img-crop>
                                    <div ng-show="cropped">
                                        <img style="width: 100%;" ng-src="{{croppedDataUrl}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <button ng-show="picFile" accept="image/*" ng-click="cropImage(croppedDataUrl)" formnovalidate>
                                CROP
                            </button>
                            <button ng-click="picFile = null; cropped = null;" ng-show="picFile" formnovalidate>
                                REMOVE
                            </button>
                        </div>
                        <p>Image should be at least 940px and 350px height</p>
                    </div>
                </div>
                <h1>
                    EVENT
                </h1>
                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <input type="text" name="Name of the Event" ng-model="event.name" placeholder="Name of the Event" required>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-xs-6 inputFields">-->
                        <!--<div class='date' >-->
                            <!--<input type='text' name="date" ng-model="event.date" class="" id='datetimepicker' required>-->
                            <!--<span class="glyphicon glyphicon-calendar"></span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="row">
                    <div class="col-xs-6 inputFields">
                        <div class='date' >
                            <input type="text"
                                   datetimepicker
                                   datetimepicker-options="{debug:true, format: false}"
                                   placeholder="Start Time"
                                   name="date"
                                   ng-model="event.date.start"
                            />
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 inputFields">
                        <div class='date'>
                            <label class="control-label">End Time</label>
                            <input type="text"
                                   datetimepicker
                                   datetimepicker-options="{debug:true, format: false}"
                                   name="date"
                                   ng-model="event.date.end"
                            />
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <br/>
                    </div>
                </div>


                <!--<div class="row">-->
                    <!--<div class="col-xs-6 inputFields">-->
                        <!--<input type="text" name="Start Time" ng-model="event.start_time" placeholder="Start Time (hh:mm)" required>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-6 inputFields">-->
                        <!--<input type="text" name="End Time" ng-model="event.end_time" placeholder="End Time (hh:mm)">-->
                    <!--</div>-->
                <!--</div>-->

                <div class="row" ng-repeat="artist in event.artists">
                    <div class="col-xs-12 inputFields">
                        <input type="text" name="Artist/Headliner" ng-model="artist.name"  placeholder="Artist/Headliner" required>
                        <i class="fa fa-times close" style="font-size:20px;" aria-hidden="true" ng-click="removeArtist($index)"></i>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a href="#" ng-click="addArtist()">One more...</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 inputFields">
                        <input type="text" name="Ticket price at the door" ng-model="event.price" placeholder="Ticket price at the door" required>
                        <label class="currency">EUR</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <select class="selectpicker" title="Genre" multiple>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 inputFields">
                        <textarea placeholder="Description" ng-model="event.description" required></textarea>
                    </div>
                </div>

                <h1>
                    VENUE
                </h1>
                <div class="row">
                    <div class="col-xs-12">
                        <select class="selectpicker" title="Venue Name">
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" id="createEventButton" ng-click="createEvent(event, createEventForm)">
                            CREATE EVENT
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="container-fluid footerContainer">
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-sm-3">
                <a href="#">
                    <img src="./img/Starbeats_Logo.png" alt="Starbeats.es Logo" class="img-responsive">
                </a>
            </div>
            <div class="col-sm-6">
                <ul class="footerMenu">
                    <li>
                        <a class="active">
                            HOME
                        </a>
                    </li>
                    <li>
                        <a>
                            EVENTS
                        </a>
                    </li>
                    <li>
                        <a>
                            ARTISTS
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 switchCity">
                <p>SWITCH CITY:</p>
                <span class="current">Barcelona</span>
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <div class="dropdown">
                    <ul>
                        <li>
                            <a href="#" class="active">Barcelona</a>
                        </li>
                        <li>
                            <a href="#">Madrid</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="copyrightMenu text-center">
                <li>
                    <a>
                        How It Works
                    </a>
                </li>
                <li>
                    <a>
                        Terms & Conditions
                    </a>
                </li>
                <li>
                    <a>
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a>
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="successModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <h1 class="title">Nice !</h1>
            <h2>
                You Have Successfuly Submited <br>
                Your Event
            </h2>
            <p>
                You should get email notification once your <br>
                event will be reviewed by admin.
            </p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">OK, GOT IT</span></button>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="js/jquery.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/modal.js"></script>


<script>
    $( document ).ready(function() {
        var form = $("#createEventForm");
        $('#successModal').modal({
            show: false
        });

        $( "#createEventButton" ).click(function(){
            if(form.valid()) {
                $('#successModal').modal('show');
            }
        });
    });
</script>
<script src="js/angular.min.js"></script>
<script src="js/ng-file-upload.min.js"></script>
<script src="js/ng-img-crop.js"></script>
<script src="js/app.js"></script>
<script src="js/services/CreateEventService.js"></script>
<script src="js/controllers/CreateEventController.js"></script>
<script src="js/directives/angular-bootstrap-datetimepicker-directive.min.js"></script>

<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>
<script type="text/javascript">
//    $(function () {
//        $('#datetimepicker').datetimepicker({
//            minDate: moment().add(1,'days'), // minimum Date : tomorrow
//            debug: true // keep the datetimepicker open
//        });
//    });
</script>

<script>
    $(function () {
        $('.selectpicker').selectpicker({
        });
    });
</script>

</body>
</html>