<!DOCTYPE html>
<html lang="en" ng-app="starbeats">

<head>
    <meta charset="UTF-8">
    <title>Starbeats</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/app.css">
</head>

<body class="index" ng-controller="IndexSearchController">

<video poster="img/SliderContainerBackground.jpg" class="hidden-xs" id="bgvid" loop playsinline autoplay muted>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="img/Starbeats-BG-Image.mp4" type="video/mp4">
</video>
<div id="imageOverlay">

</div>

<header class="container-fluid headContainer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="upNavBar hidden-xs">
                    <a>Get the app</a>
                    <span>/</span>
                    <a>How it works</a>
                    <span>/</span>
                    <a>Contact Us</a>
                </div>
                <div class="memberArea hidden-xs">
                    <a class="signUpButton">
                        SIGNUP
                    </a>
                    <a class="loginButton">
                        LOG IN
                    </a>
                </div>
                <div class="cityButton hidden-xs">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <span>BARCELONA</span>
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="#" class="active">Barcelona</a>
                            </li>
                            <li>
                                <a href="#">Madrid</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="langButton hidden-xs">
                    <span>ENG</span>
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="#" class="active">English</a>
                            </li>
                            <li>
                                <a href="#">Español</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-3 logoContainer">
                <a href="#">
                    <img src="./img/Starbeats_Logo.png" alt="Starbeats.es Logo" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-4 visible-xs mobileIcons text-right">
                <a id="searchMenuButton" href="#">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
                <a id="navMenuButton" href="#" >
                    <div id="nav-icon3">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <ul class="mainMenu hidden-xs">
                    <li>
                        <a class="active">
                            HOME
                        </a>
                    </li>
                    <li>
                        <a>
                            EVENTS
                        </a>
                    </li>
                    <li>
                        <a>
                            ARTISTS
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 text-right hidden-xs">
                <button class="submitEvent">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    SUBMIT EVENT
                </button>
            </div>
        </div>
    </div>
</header>

<!--CONTENT START-->
<div class="container-fluid sliderContainer">
    <div class="row">
        <div class="col-xs-12 mainSlider">
            <div>
                <a href="#">
                    <img src="img/slider/slider2.jpg" alt="Sam Paganini" class="img-responsive">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="img/slider/slider1.jpg" alt="Sam Paganini" class="img-responsive">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="img/slider/slider3.jpg" alt="Sam Paganini" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="container searchContainer hidden-xs">
                <div class="col-xs-12 col-sm-8">
                    <div class="searchBar">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <input type="text" placeholder="Search for Events or Artists" ng-model="searchTerm" ng-click="search(searchTerm)">
                    </div>
                    <div class="searchLookBy">
                        <div>
                            <p>
                                Look By:
                            </p>
                        </div>
                        <div class="item">
                            <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>
                            <span>GENRE</spa    n>
                            <div class="dropdown">
                                <ul>
                                    <li>
                                        <input type="checkbox" name="radio" />
                                        <a href="#">Dance</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            <span>VENUE</span>
                            <div class="dropdown">
                                <ul>
                                    <li>
                                        <input type="checkbox" name="radio" />
                                        <a href="#">Dance</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <span>DATE</span>
                            <div class="dropdown">
                                <ul>
                                    <li>
                                        <input type="checkbox" name="radio" />
                                        <a href="#">Dance</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
                            <span>LOCAL DJ's</span>
                            <div class="dropdown">
                                <ul>
                                    <li>
                                        <input type="checkbox" name="radio" />
                                        <a href="#">Dance</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button>
                        SEARCH
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-hide="" class="container-fluid eventsContainerTonight">
    <div class="container">
        <div class="headingGroup">
            <div class="col-xs-12 col-sm-6">
                <h1>TONIGHT</h1>
                <span>/</span>
                <p class="title">MARCH 12 th</p>
            </div>
            <div class="col-xs-12 col-sm-6 hidden-xs">
                <a class="link">See More</a>
            </div>
        </div>
        <div class="eventsGroup">
            <div class="row">
                <div class="col-xs-12 col-sm-6 event50">
                    <a href="#">
                        <img src="img/eventFront.jpg" alt="Event">
                        <div class="eventDescription">
                            <h3 class="eventTitle">Under Club presents Sam Paganini</h3>
                            <h4 class="eventDate">Saturday, March 12th</h4>
                            <h4 class="eventTime">23:59 - 06:00</h4>
                            <h4 class="eventLocationName">at <a href="#">UNDERCLUB</a></h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 event50">
                    <a href="#">
                        <img src="img/eventFront.jpg" alt="Event">
                        <div class="eventDescription">
                            <h3 class="eventTitle">Under Club presents Sam Paganini</h3>
                            <h4 class="eventDate">Saturday, March 12th</h4>
                            <h4 class="eventTime">23:59 - 06:00</h4>
                            <h4 class="eventLocationName">at <a href="#">UNDERCLUB</a></h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 event25">
                    <a href="#">
                        <img src="img/eventFront.jpg" alt="Event">
                        <div class="eventDescription">
                            <h3 class="eventTitle">Under Club presents Sam Paganini</h3>
                            <h4 class="eventDate">Saturday, March 12th</h4>
                            <h4 class="eventTime">23:59 - 06:00</h4>
                            <h4 class="eventLocationName">at <a href="#">UNDERCLUB</a></h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 event25">
                    <a href="#">
                        <img src="img/eventFront.jpg" alt="Event">
                        <div class="eventDescription">
                            <h3 class="eventTitle">Under Club presents Sam Paganini</h3>
                            <h4 class="eventDate">Saturday, March 12th</h4>
                            <h4 class="eventTime">23:59 - 06:00</h4>
                            <h4 class="eventLocationName">at <a href="#">UNDERCLUB</a></h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 event25">
                    <a href="#">
                        <img src="img/eventFront.jpg" alt="Event">
                        <div class="eventDescription">
                            <h3 class="eventTitle">Under Club presents Sam Paganini</h3>
                            <h4 class="eventDate">Saturday, March 12th</h4>
                            <h4 class="eventTime">23:59 - 06:00</h4>
                            <h4 class="eventLocationName">at <a href="#">UNDERCLUB</a></h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 event25">
                    <a href="#">
                        <img src="img/eventFront.jpg" alt="Event">
                        <div class="eventDescription">
                            <h3 class="eventTitle">Under Club presents Sam Paganini</h3>
                            <h4 class="eventDate">Saturday, March 12th</h4>
                            <h4 class="eventTime">23:59 - 06:00</h4>
                            <h4 class="eventLocationNameName">at <a href="#">UNDERCLUB</a></h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center visible-xs">
            <a class="link">See More</a>
        </div>
    </div>
</div>
<div ng-hide="" class="container-fluid eventsContainerThisWeek">
    <div class="container">
        <div class="headingGroup">
            <div class="col-xs-12 col-sm-6">
                    <h1>THIS WEEK</h1>
                <span>/</span>
                <p class="title">MARCH 12 - 19 th</p>
            </div>
            <div class="col-xs-12 col-sm-6 hidden-xs">
                <a class="link">See More</a>
            </div>
        </div>
        <div class="eventsGroup">
            <div class="row">
                <div class="col-xs-12 col-sm-6 event50">
                    <a href="#">
                        <img src="img/eventFront.jpg" alt="Event">
                    </a>
                    <div class="eventDescription">
                        <h3 class="eventTitle">Under Club presents Sam Paganini</h3>
                        <h4 class="eventDate">Saturday, March 12th</h4>
                        <h4 class="eventTime">23:59 - 06:00</h4>
                        <h4 class="eventLocationNameName">at <a href="#">UNDERCLUB</a></h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 event50">
                    <a href="#">
                        <img src="img/eventFront.jpg" alt="Event">
                    </a>
                    <div class="eventDescription">
                        <h3 class="eventTitle">Under Club presents Sam Paganini</h3>
                        <h4 class="eventDate">Saturday, March 12th</h4>
                        <h4 class="eventTime">23:59 - 06:00</h4>
                        <h4 class="eventLocationNameName">at <a href="#">UNDERCLUB</a></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 event25">
                    <a href="#">
                        <img src="img/eventFront.jpg" alt="Event">
                        <div class="eventDescription">
                            <h3 class="eventTitle">Under Club presents Sam Paganini</h3>
                            <h4 class="eventDate">Saturday, March 12th</h4>
                            <h4 class="eventTime">23:59 - 06:00</h4>
                            <h4 class="eventLocationNameName">at <a href="#">UNDERCLUB</a></h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 event25">
                    <a href="#">
                        <img src="img/eventFront.jpg" alt="Event">
                        <div class="eventDescription">
                            <h3 class="eventTitle">Under Club presents Sam Paganini</h3>
                            <h4 class="eventDate">Saturday, March 12th</h4>
                            <h4 class="eventTime">23:59 - 06:00</h4>
                            <h4 class="eventLocationNameName">at <a href="#">UNDERCLUB</a></h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 event25">
                    <a href="#">
                        <img src="img/eventFront.jpg" alt="Event">
                        <div class="eventDescription">
                            <h3 class="eventTitle">Under Club presents Sam Paganini</h3>
                            <h4 class="eventDate">Saturday, March 12th</h4>
                            <h4 class="eventTime">23:59 - 06:00</h4>
                            <h4 class="eventLocationNameName">at <a href="#">UNDERCLUB</a></h4>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 event25">
                    <a href="#">
                        <img src="img/eventFront.jpg" alt="Event">
                        <div class="eventDescription">
                            <h3 class="eventTitle">Under Club presents Sam Paganini</h3>
                            <h4 class="eventDate">Saturday, March 12th</h4>
                            <h4 class="eventTime">23:59 - 06:00</h4>
                            <h4 class="eventLocationNameName">at <a href="#">UNDERCLUB</a></h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center visible-xs">
            <a class="link">See More</a>
        </div>
    </div>
</div>
<div class="container-fluid mapsContainer">
    <div id="map">

    </div>
</div>
<div class="container-fluid appContainer">
    <div class="container text-center">
        <h2>Get The App</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut magna interdumç.
        </p>
        <div class="col-xs-6 text-right">
            <img src="img/AppStore.png" alt="App Store" class="img-responsive">
        </div>
        <div class="col-xs-6  text-left">
            <img src="img/GooglePlay.png" alt="Google Play" class="img-responsive">
        </div>
        <div class="col-xs-12">
            <h3>COMING SOON</h3>
        </div>
    </div>
</div>
<div class="container-fluid promoteContainer">
    <div class="container text-center">
        <h2>
            Promote Your Event
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut magna interdumç.
        </p>
        <button>
            TRY NOW
        </button>
    </div>
</div>
<!--CONTENT END-->

<footer class="container-fluid footerContainer">
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-sm-3">
                <a href="#">
                    <img src="./img/Starbeats_Logo.png" alt="Starbeats.es Logo" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <ul class="footerMenu">
                    <li>
                        <a class="active">
                            HOME
                        </a>
                    </li>
                    <li>
                        <a>
                            EVENTS
                        </a>
                    </li>
                    <li>
                        <a>
                            ARTISTS
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 switchCity">
                <p>SWITCH CITY:</p>
                <span class="current">Barcelona</span>
                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <div class="dropdown">
                    <ul>
                        <li>
                            <a href="#" class="active">Barcelona</a>
                        </li>
                        <li>
                            <a href="#">Madrid</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="copyrightMenu text-center">
                <li>
                    <a>
                        How It Works
                    </a>
                </li>
                <li>
                    <a>
                        Terms & Conditions
                    </a>
                </li>
                <li>
                    <a>
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a>
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<div id="navMenuModal" class="modal fade" role="menu">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <ul class="mainMobileMenu">
                <li>
                    <a class="active">
                        HOME
                    </a>
                </li>
                <li>
                    <a>
                        EVENTS
                    </a>
                </li>
                <li>
                    <a>
                        ARTISTS
                    </a>
                </li>
            </ul>
            <button class="signUpButton">
                SIGN UP
            </button>
            <button class="logInButton">
                LOG IN
            </button>
            <button class="submitEvent">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                SUBMIT EVENT
            </button>
            <div class="row">
                <div class="col-xs-6 switchCity text-right">
                    <p>LANGUAGE:</p>
                    <span class="current">English</span>
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="#" class="active">English</a>
                            </li>
                            <li>
                                <a href="#">Spanish</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 switchCity text-left">
                    <p>SWITCH CITY:</p>
                    <span class="current">Barcelona</span>
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                    <div class="dropdown">
                        <ul>
                            <li>
                                <a href="#" class="active">Barcelona</a>
                            </li>
                            <li>
                                <a href="#">Madrid</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="searchMenuModal" class="modal fade" role="menu">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="container-fluid searchContainer">
                <div class="col-xs-12">
                    <div class="searchBar">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <input type="text" placeholder="Search for Events or Artists" ng-model="searchTerm" ng-click="search(searchTerm)">
                    </div>
                    <div class="searchLookBy">
                        <div>
                            <p>
                                Look By:
                            </p>
                        </div>
                        <div class="item">
                            <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>
                            <span>GENRE</spa    n>
                            <div class="dropdown">
                                <ul>
                                    <li>
                                        <input type="checkbox" name="radio" />
                                        <a href="#">Dance</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            <span>VENUE</span>
                            <div class="dropdown">
                                <ul>
                                    <li>
                                        <input type="checkbox" name="radio" />
                                        <a href="#">Dance</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <span>DATE</span>
                            <div class="dropdown">
                                <ul>
                                    <li>
                                        <input type="checkbox" name="radio" />
                                        <a href="#">Dance</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
                            <span>LOCAL DJ's</span>
                            <div class="dropdown">
                                <ul>
                                    <li>
                                        <input type="checkbox" name="radio" />
                                        <a href="#">Dance</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--<script src="js/angular.min.js"></script>-->
<script src="js/slick.min.js"></script>
<script src="js/slider.js"></script>
<script src="js/navIcon.js"></script>
<script src="js/maps.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIm1oifthT2AcUJCGDhj6EiIAhzrCxQro&callback=initMap">
</script>

<script>
    $( document ).ready(function() {
        $('#navMenuModal').modal({
            show: false
        });

        $( "#navMenuButton" ).click(function(){
            $('#searchMenuModal').modal('hide');
            $('#navMenuModal').modal('toggle');
        });

        $( "#searchMenuButton" ).click(function(){
            $('#navMenuModal').modal('hide');
            $('#searchMenuModal').modal('toggle');
        });
    });
</script>

<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services/IndexSearchService.js"></script>
<script src="js/controllers/IndexSearchController.js"></script>


</body>
</html>